
body{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    background-image: linear-gradient(45deg, var(--blue), var(--dark));

}

:root{
    --transparent: rgba(0,0,0,.8);
    --shadow: 0 15px 15px 0 rgba(0, 0, 0, .5);
    --green:#2ecc71 ;
    --blue: #03A9F4;
    --red:#ff0057 ;
    --false: #e74c3c ;
    --dark:#0A192F;
}
.container{
    background: url('img/pic33.jpg') center/cover no-repeat;
   
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 85vh;
    overflow: hidden;
    
}

.form-wrapper, .list-wrapper{
    background:var(--transparent);
    color: #fff;
    padding: 3rem;
    width: 300px;
    border-radius: 10px;
    
   
}
.list-wrapper{
border-radius: 0 10px 10px 0;
border-right: 1px solid #eee;
box-shadow: var(--shadow);
width: fit-content;
}

.form-title{
    text-align: center;
}
.container form .inputBox{
    position: relative;
    margin: 30px 0;
}

.container form .inputBox input{
    width: 100%;
    padding: .5rem 0;
    font-size: 1rem;
    letter-spacing: 1px;
    outline: none;
    border:none;
    background:none;
    color:#fff;
    border-bottom: 1px solid #fff;
    
}

/* validation messages */
  form .inputBox.success input{
    border-bottom: 1px solid var(--green);
} 
  form .inputBox.error input{
    border-bottom: 1px solid var(--red);
} 
  form .inputBox.success i.fa-check-circle{
    color:var(--green);
    visibility: visible;

} 
  form .inputBox.error i.fa-exclamation-circle{
    color:var(--red);
    visibility: visible;

    
} 

form .inputBox.success small{
    color:var(--green);

} 
form .inputBox.error small{
    color:var(--red);

} 

.container form .inputBox i{
    position: absolute;
    top:30px;
    right: 10px;
    visibility: hidden;

}

.container form .inputBox label{
    letter-spacing: 1px;
  
    pointer-events: none;
    
}
 .container form .inputBox input:focus~ label,
.container form .inputBox input:valid~ label{
    color: var(--blue);
    top:-15px;
    font-size: 14px;

}


/* buttons */
form .btns{
position: relative;
display: flex;
justify-content: space-between;
margin-top: 50px 0;
}
.submit, .reset{

    padding:.5rem 1rem;
    color:#fff;
    background:var(--blue);
    outline: none;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.reset{
    background:var(--false);
    
}

/* alert styles */
.alert{
    display: flex;
    text-align: center;
    align-items:center;
    justify-content: center;
}

.alert-sent,.alert-loading{
    display: none;
    border-radius:100%;
    background: var(--green);
    width: auto;
    height: auto;
    padding: 1rem;
    transition: .5s;
    
}
.alert-sent{
    
}
.alert-loading{
    display: none;
     background:transparent;
}

/* alert styles */

/* list Styles */
.list-items {
    padding:  20px 0;
}
.list-items .fa-check{
    color:green;
    cursor: pointer;
    opacity: 1;
}
.list-items .fa-trash{
    color:red;
    cursor: pointer;
    opacity: 1;
}
.list-items .fa-trash:hover, .fa-check:hover{
    opacity: .8;

}


footer.info{
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    min-height: 15vh;
    position: relative;
    background: none;

}

footer .goal{
/* padding: 0 .5rem; */
position: absolute;
bottom:10px;
margin: 0;
border-radius: 10px;
background:#fff;
height: 40px;
padding: 1rem 1rem;
padding-bottom: 0;
}
footer .goal span{
  color:orangered
}
footer .contact{
    cursor: pointer;
    position: absolute;
    bottom: 100px;
    right: 5px;
/* background: #eee; */
color:#333;
font-weight: 600;
padding: 0 .5rem;
border-radius: 40%;
transition: .5s;
opacity: 1;
background:linear-gradient(40deg, rgba(255, 68, 0, 0.815), var(--blue));

}

footer .contact:hover{
    opacity: .8;
}

